---
title: "Facilitating Verification in Program Loops by Identification of Static Iteration Patterns"
authors:
  - "Aditya Desai"
  - "Era Jain"
  - "Subhajit Roy"
venue: "APSEC 2013"
year: 2013
projects: []
demos: []
posts: []
---
